#===============================================================================
# Configuration file used by the script doitGROMACS.sh, written by Francesco 
# Carbone (UCL). doitGROMACS.sh checks the existance of this confguration file 
# and read the variables contained. If the file is not found a new one will be 
# generated using standard values.
#
#     THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING
#								      designed for gromacs 4.6
#  
#                       last edit: 20-05-2015
#
#===============================================================================

#================================= simulation options =========================

optionFF='6'          # 	AMBER99S-ILDN protein, nucleic AMBER94
optionWM='1'          # 	TIP3P
optionBOX='triclinic' #
optionDISTEDGE='1.4'  # 	in nm

optionTEMP='400'      # 	in Kelvin [K]

#================================== MDPs options ==============================

ioniMDP='./ionization.mdp'
minMDP="./"$optionTEMP"_min.mdp"
nvtMDP="./"$optionTEMP"_nvt.mdp"
nptMDP="./"$optionTEMP"_npt.mdp"

#================================= general options ============================

optionRMSD='Backbone'			#
optionGYRATION='Protein'  #
optionRMSFb='Backbone'		#	
optionRMSFsc='SideChain'	#

optionSTARTime='0'        #  in ps [used for cluster/pca/dssp/sas]

#================================== cluster options ===========================

optionCLUSTER='Backbone'		  #
optionCLUSTERMETHOD='gromos'  #
optionSKIPcluster='100'			  #	jump in ps

#==================================== pca options =============================

optionPCA='C-alpha'   #
optionDTpca='100'			#	100ps jump

#==================================== sas options =============================
     
optionSAS='Protein'		#		
optionDTsas='250'   	#	  jump in ps
optionPROBE='0.7'			# 	probe size [nm] => 15A x' antibody
optionNDOTS='24'      # 	dots per probe

#==================================== dssp options ============================

optionDSSP='Mainchain'  #
optionDTdssp='100'   		#	jump in ps

#==================================== hb options ============================

optionDThb='100'            # jump in ps
optionHB='Protein'
#optionHBsite='G6P'
#optionHBsite='Co-enzyme'
#optionHBsite='strNADP+'

#=================================== index options ============================

option1='r 171 263 201 202 205 395 365 239 360 258'
option1name='G6P'
option2='r 38 43 41 40 73 72 112 141 143 146 144 170 172 171'
option2name='Co-enzyme'
option3='r 357 487 238 363 364 366 393 423 401 509 421 507 403 370 503 493'
option3name='strNADP'

#================================= Binaries ===================================


