# Configuration file used by the script
# doitGROMACS by Francesco Carbone (UCL)
# doitGROMACS will check the existance of this file and read some variables from
# it. If the file is not found a new one will be generated used standard values.
#
# THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING FROM

# general options [gromacs 4.6]
optionFF='6'            # AMBER99SB-ILDN protein, nucleic AMBER94
optionWM='1'            # TIP3P
optionBOX='triclinic'
optionDISTEDGE='1.4'     # nm
optionIONS='7'
optionTEMP='310'        # K

# ANALYSES options
optionDT='100'     # used in pca/sas
optionSKIP='100'   # used in cluster
optionRMSD='Backbone'		
optionGYRATION='Protein'
optionRMSFb='Backbone'
optionRMSFsc='SideChain'
optionCLUSTER='Backbone'
optionCLUSTERMETHOD='gromos'
optionPCA='C-alpha'
optionSAS='Protein'
optionDSSP='Mainchain'

# MDPs options [VALUTARE SE VALE LA PENA DEFINIRLI QUA]
ioniMDP='./G6PD_ionization'
minMDP="./"$optionTEMP"_min.mdp"
nvtMDP="./"$optionTEMP"_nvt.mdp"
nptMDP="./"$optionTEMP"_npt.mdp"

