#------------------------------------------------------------------------------
# Configuration file used by the script doitGROMACS.sh, written by Francesco 
# Carbone (UCL). doitGROMACS.sh checks the existance of this confguration file 
# and read the variables contained. If the file is not found a new one will be 
# generated used standard values.
#
#     THIS FILE MUST BE EDITED ACCORDING TO THE SYSTEM IT IS RUNNING
#								designed for gromacs 4.6
#  
#                       	last edit: 03-03-2015
#
#------------------------------------------------------------------------------

#--------------------------------- simulation options -------------------------

optionFF='6'          # 	AMBER99SB-ILDN protein, nucleic AMBER94
optionWM='1'          # 	TIP3P
optionBOX='triclinic' #
optionDISTEDGE='1.4'  # 	in nm
optionIONS='7'        # 	check if it possible to replace
optionTEMP='310'      # 	in Kelvin [K]

#---------------------------------- MDPs options ------------------------------

ioniMDP='./ionization.mdp'
minMDP="./"$optionTEMP"_min.mdp"
nvtMDP="./"$optionTEMP"_nvt.mdp"
nptMDP="./"$optionTEMP"_npt.mdp"

#--------------------------------- general options ----------------------------

optionRMSD='Backbone'			#
optionGYRATION='Protein'  #
optionRMSFb='Backbone'		#	
optionRMSFsc='SideChain'	#

optionSTARTimeNS='0'      #  in ns (-tu) [used for cluster/pca/dssp]
optionSTARTimePS='0'      #  in ps       [used for sas]

#---------------------------------- cluster options ---------------------------

optionCLUSTER='Backbone'		  #
optionCLUSTERMETHOD='gromos'  #
optionSKIPcluster='10'			  #	frame skipped

#------------------------------------ pca options -----------------------------

optionPCA='C-alpha'   #
optionDTpca='10'			#	frame skipped

#------------------------------------ sas options -----------------------------
     
optionSAS='Protein'		#		
optionDTsas='100'   	#	frame skipped
optionPROBE='0.7'			# 	probe size [nm] -> 15A x' antibody
optionNDOTS="24"      # 	dots per probe

#------------------------------------ dssp options ----------------------------

optionDSSP='Mainchain'  #
optionDTdssp='0.5'   		#	frame skipped

#--------------------------------- Binaries -----------------------------------

# Gromacs
groPATH='/acrm/usr/local/apps/gromacs/bin'
# R
REXE='/export/francesco/R-3.1.0/bin/R'
RscriptEXE='/export/francesco/R-3.1.0/bin/Rscript'
